# Node.js dependencies
**/node_modules
**/dist
**/build

# Python virtual environment and cache
**/__pycache__
**/venv
**/env
**/*.pyc

# Database files
**/db.sqlite3
**/db.sqlite3-journal

# Environment variables
**/.env
**/.env.local

# IDE files
**/.vscode
**/.idea

# OS files
**/.DS_Store
**/Thumbs.db

# Logs
**/logs
**/*.log